body {
    
    color:#777777;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image:url("./images/concrete.png");
}

.contenthead {
    font-size:24px;
    font-family:sans-serif;
    color:ghostwhite;
}

.profileimg {
    display:block;
    margin-left:auto;
    margin-right:auto;

}

.connect-title {
    text-align:center;
}

.navbar-brand {
    font-size:24px;
    color:ghostwhite;
    background-color:teal;
    padding:30px 20px 20px 20px;
    position:relative;
    bottom:-15px;
    left:-15px;
  
}

.zoomin img {
    height:50px;
    width:50px;
    z-index:1;
    -webkit-transition: all .5s ease; 
    -moz-transition: all .5s ease; 
    -ms-transition: all .5s ease; 
    transition: all .5s ease;
}
.zoomin img:hover { 
    width: 75px; 
    height: 75px;
    z-index:1;
     
}
 .zoomin_delete {
    width:auto;
    display:block;
}

a:link {
    color:#777777;
    text-decoration:none;
}
a:visited {
    color:#007c33;
    text-decoration:none;
}
a:hover {
    color:#e89f0c;
    text-decoration:none;
}

.divider {
    border-bottom-width:1px;
    border-bottom-color:teal;
    display:block;
    width:auto;
}
.sidebar {
    
    background-color:#ffffff;

   
    text-align:center;
 /*   margin-top:20px;
    margin-left:30px;*/
    padding-bottom:40px;
    padding-top:20px;
}

.contactimg_delete {
    display:block;
}

*[class^='col']{
    padding-left:-10px;
    padding-right:-10px;
}
/* For mobile phones: */
@media only screen and (min-width: 600px){
    [class*="col-"]{
        width:100%;
    }
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
} 
 